@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root {
  height: 100%;
}
.section-snap {
  scroll-snap-type: y mandatory;
}
.section {
  scroll-snap-align: start;
  min-height: 100vh;
}
